<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>JEN Stack Example</title>
    <script src="vendors/jquery-3.0.0.min.js" charset="utf-8"></script>
    <script src="scripts/genericScript.js" charset="utf-8"></script>
  </head>
  <body>
    <h1>JEN Stack Example</h1>

      <label for="eventName">Event Name</label>
      <input type="text" id="eventName">
      <label for="athleteName">Athlete Name</label>
      <input type="text" id="athleteName">
      <label for="awardName">Award Name</label>
      <input type="text" id="awardName">

    <button id='testGetButton'>testGet</button>
    <button id='testPostButton'>testPost</button>
    <div id="getOutput"></div>
  </body>
</html>
